@use "variables";
.description {
  font-size: 3.5em;
  text-align: center;
  color: white;
  margin-bottom: 5vw;
}

.head {
  margin: 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.headerText {
  color: variables.$primaryBlue;
}

.backgroundBolty {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  filter: brightness(80%);
}

.sideViewOfBolty {
  border-radius: 25px;
}

.infoGrid {
  padding: 1vh 6vw;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoButtons {
  margin-top: 3vw;
}

.infoButtons > *{
  margin: 0 1vw;
}

.watoPictures {
  display: flex;
  align-items: center;
}

.infoGridPic {
  margin: 10px;
  border-radius: 10px;
}

.researchPapers {
  background-color: variables.$primaryBlue;
  padding: 1vw 2vw;
}

h4, h6 {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight:bold;
}