@use "variables";
.description {
  font-size: 3.5em;
  text-align: center;
  color: white;
}

.head {
  margin: 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.headerText {
  color: variables.$primaryBlue;
}

.backgroundBolty {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  filter: brightness(80%);
}

.sideViewOfBolty {
  border-radius: 25px;
}

.infoGrid {
  margin: 0 4em;
  padding: 2vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textDescription {
  font-size: 1rem;
  padding: 1rem 1rem 2rem 0;
}

.infoButtons > * {
  margin: 1rem;
}

.watoPictures {
  display: flex;
  align-items: center;
}

.infoGridPic {
  margin: 10px;
  border-radius: 10px;
}

.researchPapers {
  background-color: variables.$primaryBlue;
}
