@use "variables";

.blueHeading {
  background-color: variables.$lightBlue;
  padding: 1.5vw 6vw;
}

.tier {
  padding: 1.5vw 6vw;
}

.sponsorHeader {
  padding: 1vh 3vw;
}

.centerImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsorLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

.tier img {
  padding-left: 30px;
}
