.footer {
  padding: 3rem;
  min-height: 200px;
  background-color: #2b3031;
  & > * {
    color: white;
  }
  h4, h6 {
    padding: 0;
  }
}

.contact {
  border-right: 3px solid white;
  padding: 1rem;
}
