.footer {
  padding: 3rem;
  min-height: 200px;
  background-color: #2b3031;
  & > * {
    color: white;
  }
}

.contact {
  border-right: 3px solid white;
  padding: 1rem;
}

.icon {
  background-color: white;
  // border-radius: 10px;
}
