.cardActionArea {
  text-align: center;
}

.cardImage {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.researchCards {
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
