.main {
  height: 100vh;
}

.description {
  font-size: 1.2rem;
}

.head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.backOfBolty {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

.infoGrid {
  height: 50vh;
}
